<md-bottom-sheet class="md-list md-has-header">
  <md-subheader style="font-size: 23px; border-bottom: 1px solid rgba(0, 0, 0, 0.2);color: rgba(0, 0, 0, 0.3);">
    {{ place.name }}
  </md-subheader>
  <md-list>
    <md-list-item ng-if="place.vicinity">
      <a ng-href="{{ place.mapUrl }}">
        <md-button ng-if="place.vicinity" class="md-list-item-content">
        <i class="fa fa-map"></i>
        <span class="md-inline-list-icon-label">{{ place.vicinity }}</span>
      </md-button>
      </a>
    </md-list-item>
    <md-list-item ng-if="place.website">
      <a ng-href="{{ place.website }}">
      <md-button ng-if="place.website" class="md-list-item-content">
        <i class="fa fa-globe"></i>
        <span class="md-inline-list-icon-label">{{ place.website }}</span>
      </md-button>
    </a>
    </md-list-item>
    <md-list-item ng-if="place.phone">
      <md-button class="md-list-item-content">
        <i class="fa fa-phone"></i>
        <span type="tel" class="md-inline-list-icon-label">{{ place.phone }}</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>
