<div layout="column" layout-fill style="padding-bottom: 32px;">
  <!-- button -->
  <md-button class="md-raised md-primary" ng-click="main.spin=!main.spin;main.search()">
    Search for places
  </md-button>
  <!-- spinner -->
  <md-progress-circular style="margin: 20px auto;" ng-show="main.spin" class="md-hue-2" md-mode="indeterminate">
  </md-progress-circular>
  <md-whiteframe class="md-whiteframe-z3" layout
   ng-repeat="place in main.places | orderBy: ['-rating', '+distance']"
   ng-click="main.showDialog($event, place)">
   <div class="insta_bg"
   ng-if="place.$photos && place.$photos.length > 0 || place.bg_url"
   ng-style="{'background-image':'url({{ place.bg_url || place.$photos[0] }})'}">
   </div>
    <md-card-content>
      <h2 class="md-title">{{ place.name }}</h2>
      <p class="md-body-1"><b>{{ place.distance | number: 0 }}</b> meters from you</p>
      <p class="md-body-1" ng-show="place.dValue == 100 && place.rating > 0">
        <i style="color: #FFA41C; text-shadow: 0px 1px 0 #AA6600;"
        ng-class="{ 'animated infinite rubberBand': !$index }"
        ng-style="{'font-size': !$index ? '24px' : '18px'}"
        class="fa fa-star"></i>
        {{ place.rating }}
      </p>
      <img class="img-type" ng-src="{{ place.icon }}" />
    </md-card-content>
    <md-progress-linear md-mode="determinate" ng-show="place.dValue >= 0" value="{{ place.dValue || 0 }}"></md-progress-linear>
  </md-whiteframe>

  <div style="width: 100%; font-size: 101px;
  height: 500px; text-align: center;
  color: rgba(0,0,0,0.1); text-shadow: rgb(255, 255, 255) 5px 1px 0px;">
    <h2 style="font-size: 60px;margin-bottom: 0;margin-top: 31%;">Trends</h2>
    <i class="fa fa-cutlery"></i>
    <i class="fa fa-users"></i>
    <i class="fa fa-glass"></i>
  </div>
</div>
